<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
<%= link_to 'Home', '/home', id: "logo" %>
<%= link_to 'Item', items_path, id: "logo" %>
<h3><% if current_user %>
Logged in as <%= current_user.email %>
<%= link_to "Log out", log_out_path, id: "log" %></h3>
<% else %>
<%= link_to "Sign up", sign_up_path, id: "logo" %> or
<%= link_to "Log in", log_in_path, id: "logo" %>
<% end %>
</header>
<br>
<h4>Listing menus</h4>

<table>
  <thead>
    <tr>
      <th>Rid&nbsp&nbsp</th>
      <th>Itemid&nbsp&nbsp</th>
      <th>Price&nbsp&nbsp</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.restaurant_id %></td>
        <td><%= menu.item_id %></td>
        <td><%= menu.price %></td>
        <td><%= link_to 'Show', menu %> </td>
        <!--<td><%= link_to 'Edit', edit_menu_path(menu) %></td>
        <td><%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu', new_menu_path %>
