<p id="notice"><%= notice %></p>

<p>
  <strong>Rid:</strong>
  <%= @menu.restaurant_id %>
</p>

<p>
  <strong>Itemid:</strong>
  <%= @menu.item_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @menu.price %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
