<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
<%= link_to 'Sign up', sign_up_path, id: "logo" %>
<%= link_to 'Log in', log_in_path, id: "logo" %>
</div>
</header><br><br>
<h1>Tinnara</h1>
<h2>- A Restaurant Suggestion App</h2>
<p>
  
</p>
