<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
<%= link_to 'Home', '/home', id: "logo" %>
<%= link_to 'Item', items_path, id: "logo" %>
<h3><% if current_user %>
Logged in as <%= current_user.email %>
<%= link_to "Log out", log_out_path, id: "log" %>
<% else %>
<%= link_to "Sign up", sign_up_path, id: "logo" %> 
<%= link_to "Log in", log_in_path, id: "logo" %></h3>
<% end %>
</header>
<br><br>
<head>
  <title>Simple Search Form</title>
</head>
<body>
  <%= form_tag(restaurants_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="right">
      <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search Nearby Restaurants" %>
      <button class="btn" type="submit"><i class="icon-search">Submit</i></button>
    </div>
<% end %>
 
<h4>List of restaurants</h4>
<table>
<table id="myTable" class="tablesorter tablesorter-blue">
  <thead>
    <tr>
      <th>S.No</th>
      <th>Restaurant Name</th>
      <!--<th>Phno</th>
      <th>Delivery</th>-->
      <th data-sorter="true">Rating</th>
      <!--<th>Timings</th>
      <th>Category</th>-->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.rid %></td>
        <td><%= restaurant.rname %>&nbsp&nbsp&nbsp</td>
        <!--<td><%= restaurant.phno %></td>
        <td><%= restaurant.delivery %></td>-->
        <td><%= restaurant.rating %></td>
        <!--<td><%= restaurant.timings %></td>
        <td><%= restaurant.category %></td>-->
        <td><%= link_to 'Show', restaurant %></td>
        <!--<td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<!--<%= link_to 'New Restaurant', new_restaurant_path %>-->
