<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
<%= link_to 'Home', '/home', id: "logo" %>
<%= link_to 'Restaurant', restaurants_path, id: "logo" %>
<h3><% if current_user %>
Logged in as <%= current_user.email %>
<%= link_to "Log out", log_out_path, id: "log" %></h3>
<% else %>
<h3><%= link_to "Sign up", sign_up_path, id: "log" %> 
<%= link_to "Log in", log_in_path, id: "log" %></h3>
<% end %>
</header>
<br>


<p id="notice"><%= notice %></p>

<p>
  <strong>Rid:</strong>
  <%= @restaurant.rid %>
</p>

<p>
  <strong>Rname:</strong>
  <%= @restaurant.rname %>
</p>

<p>
  <strong>Phno:</strong>
  <%= @restaurant.phno %>
</p>

<p>
  <strong>Delivery:</strong>
  <%= @restaurant.delivery %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @restaurant.rating %>
</p>

<p>
  <strong>Timings:</strong>
  <%= @restaurant.timings %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p><br>

<h4>Items</h4>
<div id="items">
  <%  @restaurant.items.each do |item| %>
  <%= div_for item do %>
  <p>
   <%= h(item.iname) %>
 </p>
<% end %>
<% end %>

<!--<h4>menus</h4>-->
<div id="menus">
  <%  @restaurant.menus.each do |menu| %>
  <%= div_for menu do %>
  <p>
   <%= h(menu.price) %>
 </p>

<% end %>
<% end %>

</div>
</div>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
