<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
<%= link_to 'Home', '/home', id: "logo" %>
<%= link_to 'Restaurant', restaurants_path, id: "logo" %>
</header>
<h4>Listing items</h4>

<table>
  <thead>
    <tr>
      <th>Itemid&nbsp&nbsp</th>
      <th>Iname&nbsp&nbsp</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.itemid %></td>
        <td><%= item.iname %></td>
        <td><%= link_to 'Show', item %></td>
        <!--<td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
