<p id="notice"><%= notice %></p>

<p>
  <strong>Itemid:</strong>
  <%= @item.itemid %>
</p>

<p>
  <strong>Iname:</strong>
  <%= @item.iname %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
