@import "bootstrap-sprockets";
@import "bootstrap";

/*variables*/
$blueblog: #13568A;

body{
  background-image: url("main_background2.jpg");
  background-repeat: no-repeat;
  //background-size: 100%;

}


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  //color: #fff;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  //color: #fff;
}
h3 {
  font-size: 1.2em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
  margin-right: -5px;
  color: #fff;
}
h4 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

b{
   color: #fff;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 13px;
  font-weight: bold;
}

#log {
  float: right;
  margin-right: 10px;
  font-size: 1.1em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: -25px;
  font-weight: bold;
}

#home{
  background-color: transparent;
  text-align: center;

}
.input-append{
  margin-right: 80px;
}

//all links with this class
.username_link{
  //background-color: $blueblog;
  &:hover{
    background-color: transparent;
    //color: #34DDDD;
    color: #2A9CFF;
    text-decoration: none;
  }
}


/* footer */

/*footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}*/
footer {
   position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: $blueblog;
}
footer a {
  ////color: #fff;
}

footer a:hover {
  color: #fff;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;

}

footer ul li {
  float: left;
  margin-left: 15px;
}
.right{
 float:right;
 width: 300px;
 }

