<h1>Listing locations</h1>

<table>
  <thead>
    <tr>
      <th>Rid</th>
      <th>Streetno</th>
      <th>Streetname</th>
      <th>Zip</th>
      <th>City</th>
      <th>State</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.restaurant_id %></td>
        <td><%= location.streetno %></td>
        <td><%= location.streetname %></td>
        <td><%= location.zip %></td>
        <td><%= location.city %></td>
        <td><%= location.state %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
