<p id="notice"><%= notice %></p>

<p>
  <strong>Rid:</strong>
  <%= @location.restaurant_id %>
</p>

<p>
  <strong>Streetno:</strong>
  <%= @location.streetno %>
</p>

<p>
  <strong>Streetname:</strong>
  <%= @location.streetname %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @location.zip %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @location.state %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
