<footer class="navbar navbar-fixed-bottom navbar-inverse">
	<div class="container">
  <small>
    Tinnara
  </small>
  <nav>
    <ul>
      <li>For Web Architecture class</li>
    </ul>
  </nav>
</div>
</footer>
