<!DOCTYPE html>
<html>
<head>
  <title>Bunny</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :default, "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %><br><br/>
<% flash.each do |name, msg| %>
<%= content_tag :div, msg, :id => "#{name}" %>
<% end %>
<%= yield %>
<!--<%= render 'layouts/footer' %>-->


</body>
</html>
